<nav class="navbar navbar-expand-lg bg-dark  fixed-top" id="container">
    <div class="container-fluid">
        <a class="navbar-brand " href="/" id="logo">
            Cow Desi Milk
            <!-- <span id="one">Cow</span> <span id="two">Desi</span> <span id="three">Milk</span> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img class="navbar-toggler-icon" src="/images/toggle1.png" alt="image">
            <!-- <span class="navbar-toggler-icon" id="navToggle"></span> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="about" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="milk-product" target="_blank">Milk
                        Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contact-us" target="_blank">Contact
                        Us</a>
                </li>


            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- navbar close  -->
<div class="mt-2"></div>
<div class="container">
    <div class="mt-5"></div>
    <div class="mt-5"></div>